body{
    font-family: cursive;
    margin: auto;
    width: 1200px;
}
.header{
    background-image: url(img/download\ \(1\)1.jpg);
    background-repeat: no-repeat;
    height: 675px;
    margin: -70 auto;
    position: relative;
}
.h1{
    font-size: 30px;
    margin: 0px 100px;
    position: relative;
}
p{
    font-size: 50px;
    margin: 30px 100px;
    position: relative; 
}
button{
    height: 60px;
    width: 200px;
    background-color: yellow;
    font-size: 30px;
    margin: 20px 100px;
    position: relative;
}
section{
    display:flex ;
    margin: 50px 0;
}
section>div>.h1{
    font-size: 30px;    
}
section>div>.p{
    font-size: 20px;
}
.img{
    margin-top: 40px;
}
.heading{
    text-align: center;
    font-size: 70px;
}
.pragrap{
    text-align: center;
    font-size: 30px;
}
.mini{
    height: 300px;
    width: 700px;
    background-color: lightsalmon;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
}
.im{
    margin: 20px 5px;
}
.mini>div>h1{
    font-size: 30px;
}
.mini>div>p{
    font-size: 30px;
    margin: 0px;
}
.girl{
    margin: 25px;
    border-radius: 10px;
}
.lying{
    width: 380px;
    border: 3px solid gray;
    margin: 10px;
    border-radius: 10px;
}
.lying>p{
    font-size: 10px;
    margin: 0;
}
footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}